<!-- Begin Tickets Section -->		
<section id="tickets" class="tickets">
	<div class="content-wrapper">`
		<div class="col-lg-8 col-md-10 col-lg-offset-2 col-md-offset-1">
			<h3>{{site.ticketsTitle}}</h3>
			<p>Proudly partnering with <a href="https://diversitytickets.org/en">Diversity Tickets</a> for our Community Tickets!</p>
			<a href="https://diversitytickets.org/en/events/510" class="btn btn-primary waves-effect waves-button waves-light waves-float" target="_blank">Apply for a Community Ticket</a>
			<tito-button class="btn btn-primary waves-effect waves-button waves-light waves-float" event="devopsaustralia/sydney-2019">Purchase Ticket</tito-button>
		</div>
	</div>
</section>
<!-- End Tickets Section -->